@model sellsTask.Entities.costumer

@{
    ViewBag.Title = "Details";
}



    <h4>costomer</h4>
    <hr />
  


<div class="card text-center bg-transparent ">
    <div class="card-header bg-light">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item px-1">
                @Html.ActionLink("Edit", "Edit",
               new { id = Model.costumerID }, new { @class = "btn btn-purple" }) 
            </li>
            <li class="nav-item pb-1">
                @Html.ActionLink("Back to List", "Index",null, new { @class = "btn btn-purple" })
            </li>
        </ul>
    </div>
    <div class="card-body">
        <p class="card-text">
            <h5 class="card-title px-lg-5" style="display:inline">
                @Html.DisplayNameFor(model => model.name) :
            </h5>
            @Html.DisplayFor(model => model.name)
            <br />
            <h5 class="card-title pr-lg-4" style="display:inline">

                @Html.DisplayNameFor(model => model.phoneNumber) :
                </h5>
                @Html.DisplayFor(model => model.phoneNumber)
        </p>
     
    </div>
</div>